body {
    line-height: normal;
    font-size: 18px;
}

.room-image {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%; /* Chiếm toàn bộ chiều rộng của màn hình */
    height: 100%; /* Chiếm toàn bộ chiều cao của màn hình */
    object-fit: cover;
    filter: blur(5px);
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: Lexend;
}

.page-register {
    position: absolute;
    width: 500px;
    padding: 20px;
    margin-top: 750px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3); /* Tạo hiệu ứng mờ */
    background-color: rgba(128, 128, 128, 0.2); /* Màu xám với độ trong suốt */
}


.title-register {
    position: relative;
    text-align: left;
}

.glyphicon-remove {
    position: absolute; 
    top: 0; /* Đặt top là 0 để đưa thẻ a lên đầu trang */
    right: 0; /* Đặt right là 0 để đưa thẻ a sang phải cùng */
    padding: 5px;
    color: #000;
}

.glyphicon-remove:hover{
    color: red;
}

.title-register h3  {
    font-size: 15px;
    margin: 0;
}

.title-register h2  {
    margin-top: 5px;
    padding-bottom: 30px;
}


/*Style cho form*/
form {
    width: auto;
    margin: 0 auto;
}

/* Style cho các label */
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    width: 150px;
}

/* Style cho input */
input[type="email"],
input[type="text"],
input[type="date"],
input[type="password"],
select {
    width: calc(100% - 152px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

select{
    width: calc(100% - 152px);
}
/* Hover state cho input và select */
input[type="email"]:hover,
input[type="text"]:hover,
input[type="date"]:hover,
input[type="password"]:hover,
select:hover {
    border-color: #999;
}

/* Focus state cho input và select */
input[type="email"]:focus,
input[type="text"]:focus,
input[type="date"]:focus,
input[type="password"]:focus,
select:focus {
    border-color: #007bff;
    outline: none;
}

/* Style cho button */
.btn-register{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 25px;
}

/* Hover state cho button */
.btn-register:hover {
    background-color: #0056b3;
}

.login {
    padding-top: 20px;
    text-align: left;
    font-size: 20px;
}

.login a:hover {
    opacity: 0.5;
}
