<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <!-- <app-header></app-header> -->
    <img src="assets/image.png" alt="Room Image" class="room-image">
    <div class="container">
        <div class = "page-register">
            <div class = "title-register">
                <a href="/home" class ="close">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>
                <h3>Xin chào bạn</h3>
                <h2>Đăng ký tài khoản mới</h2>
            </div>
            
            <form (ngSubmit)="register()" class="form-container">
                <label for="mail">Email:</label>
                <input type="email" id="mail" name="mail" [(ngModel)]="formData.mail" required placeholder = "Email">
            
                <label for="name">Họ và tên:</label>
                <input type="text" id="name" name="name" [(ngModel)]="formData.name" required placeholder = "Họ và tên">
                
                <label for="name">Mật khẩu:</label>
                <input type="password" id="password" name="password" [(ngModel)]="formData.password" required placeholder = "Mật khẩu">
            
                <label for="phone">Số điện thoại:</label>
                <input type="text" id="phone" name="phone" [(ngModel)]="formData.phone" placeholder = "Số điện thoại">
            
                <!-- <label for="address">Địa chỉ:</label>
                <input type="text" id="address" name="address" [(ngModel)]="formData.address" placeholder = "Địa Chỉ">
            
                <label for="dateOfBirth">Ngày sinh:</label>
                <input type="date" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="formData.dateOfBirth">
            
                <label for="sex">Giới tính:</label>
                <select id="sex" name="sex" [(ngModel)]="formData.sex">
                    <option value="MALE">Nam</option>
                    <option value="FEMALE">Nữ</option>
                    <option value="LGBT">LGBT</option>
                    <option value="OTHER" selected>Khác</option>
                </select>
            
                <label for="role">Role:</label>
                <select id="role" name="role" [(ngModel)]="formData.role">
                    <option value="USER" selected>User</option>
                    <option value="OWNER">Owner</option>
                </select>
             -->
                <button type="submit" class="btn-register">Đăng Ký</button>
            
            </form>

            <div class = "login">
                <p>Bạn đã có tài khoản? <a href="/login" style = "color: red;">Đăng nhập</a> tại đây</p>
            </div>

        </div>
    </div>
    
</body>
</html>


