<div class="message-container">
    <div class="message-header" (click)="offMessage()">USERNAME</div>
    <div class="message-content">
        <div class="message own-message">
            <p>Hello.</p>
        </div>
        <div class="message other-message">
            <p>Xin chào.</p>
        </div>
        <div class="message own-message">
            <p>Hello.</p>
        </div>
        <div class="message other-message">
            <p>Xin chào.</p>
        </div>
        <div class="message own-message">
            <p>Hello.</p>
        </div>
        <div class="message other-message">
            <p>Xin chào.</p>
        </div>
        <div class="message own-message">
            <p>Hello.</p>
        </div>
        <div class="message other-message">
            <p>Xin chào.</p>
        </div>
        <!-- Thêm các tin nhắn khác tại đây -->
    </div>
    <div class="message-control">
        <input type="text" id="txtMessage" placeholder="Tin nhắn">
        <button>Gửi</button>
    </div>
</div>