<header class="header">
    <nav class="navigation">
        <ul class = "nav-home">
            <li class = "logo"><a href="/home"><img src="/assets/logo.png" alt="Motel Logo"></a></li>
            <li><a href="/home">TroGiaRe.vn</a></li>
        </ul>
        <ul class="nav-menu"> 
            <li *ngIf="!isLogged()"><a href="/login">Đăng Nhập</a></li>
            <li *ngIf="!isLogged()"><a href="/register">Đăng Ký</a></li>
            <li *ngIf="isLogged()" (click)="logout()"><a href="">Đăng Xuất</a>[{{getUserName()}}]</li>
        </ul>
    </nav>
</header>