*{
    margin: 0;
    padding: 0;
}
.header {
    background-color: #F1F1F1;
    color: hsl(0, 0%, 0%); /* Màu chữ của header */
    padding: 10px; /* Khoảng cách giữa nội dung và viền của header */
    display: flex; /* Hiển thị các phần tử trên cùng một dòng */
    justify-content: space-between; /* Canh chỉnh các phần tử theo chiều ngang */
    align-items: center; /* Căn chỉnh các phần tử theo chiều dọc */

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   
    z-index: 9999; /* Đảm bảo header hiển thị trên tất cả các phần tử khác */

}

.header .navigation {
    display: flex;
    align-items: center; /* Canh các phần tử theo chiều dọc giữa nhau */
    flex-grow: 1; /* Mở rộng navigation để lấp đầy không gian trống */
    margin-right: 10%; 
    font-size: 1.5em;
    font-family: Lexend;
}

.nav-home {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-home li {
    display: inline; /* Hiển thị các phần tử trên cùng một hàng */
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto; /* Đẩy các phần tử sang phải cùng khoảng cách giữa chúng */
}

.nav-menu li {
    display: inline;
    margin-left: 20px; /* Khoảng cách giữa các phần tử */
}

.logo img {
    height: 50px; /* Đặt chiều cao của logo */
    width: auto; /* Đảm bảo logo co dãn đúng tỷ lệ */
    vertical-align: middle; /* Canh logo theo chiều dọc giữa với văn bản */
    padding-left: 40px;
    padding-right: 40px;
}

.nav-menu li a{
    color: #6C78AF;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}
.nav-home li a {
    font-size:45px;
    color: #6C78AF;
    text-decoration: none;
}

.nav-menu li a:hover{
    color: #fff;
    background-color: #6C78AF;
}

.icon{
    position: relative;
    top: 1px;
    display: inline-block;
    line-height: 1;
    max-width: 21px;
    max-height: 21px;

    user-select: none;
}

.count{
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    margin-left: -10px;
    padding: 1px;
    color: white;
    background-color: red;

    user-select: none;
}

.notific-container, .message-container{
    position: absolute;
    list-style-type: none;
    right: 5%;
    max-width: 300px;
    background-color: aqua;
    color: black;
    font-size: 20px;
}

.notific-content, .message-content{
    display: block !important;
    margin-bottom: 1px;
    background-color: #fff;
}

.notific-time, .message-time{
    text-align: right;
    font-size: 15px;
}

/* TEST */
.test-upload-image{
    padding: 100px;
}

/* .start-container{
    background-color: rgb(0, 255, 255);
    background: linear-gradient(to right, rgba(255, 215, 0, 0.5) 50%, transparent 50%)
} */

.content {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}