<p>test</p>
R: <input type="range" [(ngModel)]="r" max="255"> <span>{{r}}</span>
<br>
G: <input type="range" [(ngModel)]="g" max="255"> <span>{{g}}</span>
<br>
B: <input type="range" [(ngModel)]="b" max="255"> <span>{{b}}</span>
<br>
A: <input type="range" [(ngModel)]="a" max="100"> <span>{{a}}</span>
<br>
<div [ngStyle]="{'color': getColor(r,g,b,a)}">
    <span>&#9733;</span>
</div>

<span class="start" [ngStyle]="{'background': getStart(a)}">&#9733;</span>

<div class="content" [ngStyle]="{'background': getStart(a)}"></div>