<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motel Web</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <app-header></app-header>
    <div class="container">
        <div class = "search">
            <form action="" class = "form-search">
                <input type="text" id="address" name="address"  required placeholder = "Địa chỉ tìm kiếm">
                <select id="price" name="price">
                    <option value="0" selected>-- Giá cho thuê --</option>
                    <option value="1">Dưới 2 triệu</option>
                    <option value="2">Từ 2 đến 4 triệu</option>
                    <option value="3">Từ 4 đến 6 triệu</option>
                    <option value="4">Trên 6 triệu</option>
                </select>
                <button type = "submit" class = "btn-search">Tìm kiếm</button>
            </form>
            
        </div>

        <div *ngIf="rooms" class="room-list-container">
            <div class="room-card" (click)="toRoomDetail(room)" *ngFor="let room of rooms; index as i">
                <img [src]="loadImage(room.data.images)" alt="Room Image" class="room-image" (click)="openDialog(room)">
                <p class = "sale-icon" *ngIf="!isSale(room.data.room.sale)"> -{{room.data.room.sale}}%</p>
                <div class="room-details">
                    <h2 class="room-name">{{ room.data.room.name }}</h2>
                    <p class="room-info">Diện tích: {{ room.data.room.area }}</p>
                    <div class = "price">
                        <p class="room-info">Giá: </p>
                        <p class="room-info" *ngIf="isSale(room.data.room.sale)">{{formatPrice(room.data.room.price)}} đ</p>
                        <p class="room-info current-price" *ngIf="!isSale(room.data.room.sale)">{{formatPrice(room.data.room.price)}} đ</p>
                        <p class="room-info oder-price" *ngIf="!isSale(room.data.room.sale)">{{ formatPrice(room.data.room.price *(100 - room.data.room.sale) /100)}} đ</p>
                    </div>
                    <p class="room-info">Địa chỉ: {{ room.data.motel.address}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <app-footer></app-footer> -->
</body>

</html>