body, html {
    margin: 0;
    padding: 0;
}
.container{
    margin-top: 100px;
    padding: 0;
    width: 100%;
}

.room-details {
    display: flex;
    width: 96%;
    margin-left: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.image-container {
    position: relative;
    width: 50%;
    height: auto;
    margin-right: 0px;
}

.image-container img {
    width: 100%;
    height: 550px;
    border-radius: 5px 0 5px 5px;
    cursor: pointer;
}

.previous-image,
.next-image{
    position: absolute;
    border: none;
    background-color: rgba(0, 0, 0, 0); /* Màu nền với độ mờ */
    color: #fff; /* Màu chữ */
    top: 50%;
    font-size:50px;
    cursor: pointer;
    transform: translateY(-50%);
}

.previous-image{
    left: 10px;
}

.next-image{
    right: 10px;
}

.header{
    width: 100%;
    background-color: #6C78AF;
    border-radius: 0 10px 0px 0;
    
}

.header .header-btn{
    display: inline-block;
    width: 20%;
    padding: 10px;
    margin: 0;
    border-bottom: none;
    transition: background-color 0.5s ease;
    font-size: 17px;
}


.header .header-btn:hover{
    background-color: #ccc !important;
    color: #6C78AF !important;
    cursor: pointer;
}



.info-container {
   position:relative;
   flex: 1;

}

.footer{
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.appoint-button,
.booking-button {
    margin: 0 10px;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    height: 100%;
    background-color: #6C78AF;
    border: none;
    border-radius: 10px;
    transition: opacity 0.3s ease;

}
.appoint-button:hover,
.booking-button:hover{
    box-shadow: 0 0 10px 3px rgba(3, 65, 236, 0.7);
 

}

.image-container img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
}

.price .room-info{
    display: inline-block;
    padding-right: 5px;
}

.current-price {
    text-decoration: line-through;
}

.info-room{
    margin: 20px;
}

.info-owner{
    margin: 20px;
}

/* APPOINT */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Một lớp mờ */
    z-index: 999; /* Đảm bảo lớp overlay nằm trên dialog-appoint */
    cursor: pointer; /* Hiển thị icon chuột là pointer */
}

.dialog-appoint {
    position: fixed;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999; /* Đảm bảo dialog hiển thị trên tất cả các thành phần khác */
    
}

.dialog-appoint form {
    width: 100%; /* Điều chỉnh độ rộng của form theo nhu cầu */
    margin-left: 15%;
    margin-right: 15%;
}

.dialog-appoint label, .dialog-appoint button {
    display: inline-block;
    margin-bottom: 10px;
}

.title-appoint {
    width: 100%;
    color: #6C78AF;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}


.dialog-appoint input {
    width: auto;
    margin-left: 20px;
}

.dialog-appoint button {
    background-color: #6C78AF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.info-roomappoint{
    margin-top: 30px;
    font-size: 15px;
}

.close {
    color: rgb(226, 63, 63);
    float: right;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(190, 5, 5);
    text-decoration: none;
    cursor: pointer;
    font-size: 35px;
}
.rating{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.rate-quantity{
    display: inline-block;
    padding-left: 10px;
}

.star.filled {
    color: #ffd700; /* Màu vàng */
}
.review{
    margin-bottom: 100px;
}
.review-card {
    position: relative;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #6C78AF;
    border-top: 1px solid #6C78AF;
}
.user-review, .user-star, .time-review {
    display: inline-block;
}

.user-review{
    font-weight: bold;
    font-size: 16px;
}

.comment{
    font-size: 14px;
}

.time-review{
    position: absolute;
    right: 0;
    top:0;
    margin: 20px;
}
.user-star{
    margin-left: 20px;
}