<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <app-header></app-header>
    <img src="assets/image.png" alt="Room Image" class="room-image">
    <div class="container">
        <div class = "page-login">
            <div class = "title-login">
                <h3>Xin chào bạn</h3>
                <h2>Đăng nhập để tiếp tục</h2>
            </div>
            
            <form (ngSubmit)="login()">
                <i class="glyphicon glyphicon-user"></i>
                <input type="text" id="mail" name="mail" [(ngModel)]="mail" required placeholder = "Email hoặc SDT">
                <br>
                <i class="glyphicon glyphicon-lock"></i>
                <input type="password" id="password" name="password" [(ngModel)]="password" required placeholder = "Mật khẩu">
                <p id="log" *ngIf="!isCorrect">Tài khoản hoặc mật khẩu không chính xác !!</p>
                <button type="submit" class="btn-login">Đăng Nhập</button>
                <!-- <button type="button" class="right" (click)="register()">Register</button> -->
            </form>
        
            <div class = "forgot-pass">
                <a href="" style="color: red;">Quên mật khẩu?</a>
            </div>

            <div class = "register">
                <p>Bạn chưa có tài khoản? <a href="/register" style = "color: red;">Đăng ký</a> tại đây</p>
            </div>
            
        </div>

        
    </div>
</body>
</html>
