<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <header class="header">
        <nav class="navigation">
            <ul class="nav-home">
                <li class="logo"><a href="/home"><img src="/assets/logo.png" alt="Motel Logo"></a></li>
                <li><a href="/home">TroGiaRe.vn</a></li>
            </ul>
            <ul class="nav-menu">
                <li *ngIf="!isLogged()"><a href="/login">Đăng Nhập</a></li>
                <li *ngIf="!isLogged()"><a href="/register">Đăng Ký</a></li>
                <li *ngIf="isLogged()"><a href="/user-info">{{getUserName()}}</a></li>
                <li *ngIf="isLogged()"><a>
                        <img [src]="notificSrc+(getNotificationCount()> 0 ? 'on' : 'off')+'.png'" class="icon"
                            (click)="onNotification()">
                        <span class="count" *ngIf="getNotificationCount() > 0">
                            {{getCountString(getNotificationCount())}}
                        </span></a>
                    <app-notification *ngIf="isOnNotification()"></app-notification>
                </li>
                <!-- <li *ngIf="isLogged()"><a><img src="assets/icons/notific_on.png" class="icon"></a></li> -->
                <li *ngIf="isLogged()"><a>
                        <img src="assets/icons/message.png" class="icon" (click)="onMessage()">
                        <span class="count" *ngIf="getMessageCount() > 0">
                            {{getCountString(getMessageCount())}}
                        </span></a></li>

                <app-message *ngIf="isOnMessage()"></app-message>
                <li *ngIf="isLogged()" (click)="logout()"><a href="">
                        <i class="glyphicon glyphicon-log-out"></i></a>
                </li>
            </ul>
        </nav>
    </header>
</body>

</html>