<!-- <app-header></app-header> -->

<app-header-info></app-header-info>

<div class="user-info-container">
    <h2>User Information</h2>
    <div class="info-row">
        <span class="label">Email:</span>
        <input type="text" class="value" value="{{userInfo.mail}}" readonly>
    </div>
    <div class="info-row">
        <span class="label">Name:</span>
        <input type="text" class="value editable-input" value="{{userInfo.name}}" [(ngModel)]="userInfo.name">
    </div>
    <div class="info-row">
        <span class="label">Created At:</span>
        <input type="text" class="value" value="{{userInfo.createAt}}">
    </div>
    <div class="info-row">
        <span class="label">Phone:</span>
        <input type="text" class="value editable-input" value="{{userInfo.phone}}" [(ngModel)]="userInfo.phone">
    </div>
    <div class="info-row">
        <span class="label">Address:</span>
        <input type="text" class="value editable-input" value="{{userInfo.address}}" [(ngModel)]="userInfo.address">
    </div>
    <div class="info-row">
        <span class="label">Sex:</span>
        <input type="text" class="value" value="{{userInfo.sex}}" readonly>
    </div>
    <div class="info-row">
        <span class="label">Date of Birth:</span>
        <input type="date" class="value editable-input" value="{{userInfo.dateOfBirth}}"
            [(ngModel)]="userInfo.dateOfBirth">
    </div>
    <div class="info-row">
        <span class="label">Role:</span>
        <input type="text" class="value" value="{{userInfo.role}}" readonly>
    </div>
    <button class="btn btn-update" (click)="updateInfo()">Update</button>
    <button class="btn btn-register-owner" *ngIf="userInfo.role === 'USER'" (click)="regisOwner()">Register as
        Owner</button>
    <button class="btn btn-change-password" (click)="onChangePass=true">Change Password</button>
</div>

<!-- AREA PASS -->
<div class="change-password-container" *ngIf="onChangePass">
    <form class="change-password-form" (ngSubmit)="changePassword()">
        <h2>Đổi Mật Khẩu</h2>
        <div class="form-group">
            <label for="oldPassword">Mật khẩu cũ:</label>
            <input type="password" id="oldPassword" name="oldPassword" [(ngModel)]="formChangePassword.oldPass">
        </div>
        <div class="form-group">
            <label for="newPassword">Mật khẩu mới:</label>
            <input type="password" id="newPassword" name="newPassword" [(ngModel)]="formChangePassword.newPass">
        </div>
        <div class="form-group">
            <label for="confirmPassword">Xác nhận mật khẩu mới:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="formChangePassword.rePass">
        </div>
        <button type="submit" class="btn">Đổi mật khẩu</button>
        <button type="button" class="btn" (click)="onChangePass=false">Hủy</button>
    </form>
</div>